@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
:root {
    --primary: #4b164c;
    --secondary: #dd88cf;
    --background: #fdf7fd;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-background {
    background-color: var(--background);
}

.text-primary {
    color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.text-secondary {
    color: var(--secondary);
}

.border-primary {
    border-color: var(--primary);
}

.border-secondary {
    border-color: var(--secondary);
}
